<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
	<link rel="stylesheet" href="../static/imagestyle.css">
</head>
<body>
	<div class="space">
        <div class="navbar">
			<div class="menu">
				<ul>
					<li><a href="/home">HOME</a></li>
                    <li><a href="/cart">ORDERS</a></li>
					<li><a href="/wl">WISHLIST</a></li>
				</ul>
			</div>
		</div>
        <div class="b"></div>
        <div class="picconti" style="background-image: url({{profiles[0][4]}});"></div>
        <div class="box">

		
            <h2 class="tx">
            Product id : {{profiles[0][5]}}
            Actual Price : Rs {{profiles[0][0]}} <br>
            Buy At : Rs {{profiles[0][1]}} <br>
            Discount : {{profiles[0][2]}}% <br>
            Likes : {{profiles[0][3]}} <br>
            Quantity : {{profiles[0][6]}} <br></h2>
            <div class="but">
                <a href="/add_to_wl/{{profiles[0][5]}}" type="button">add to wl</a>
                <a href="/add_to_cart/{{profiles[0][5]}}" type="button">buy</a>
            </div>
        </div>
	</div>
</body>
</html>