<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopper's Nest</title>
    <link rel="stylesheet"  href="./static/s.css">

</head>
<body>
    <div class="main">
        <div class="icon">
            <h2 class="Logo">Shopper&s Nest</h2>
        </div>
        <div class="space">
        </div>
        <div class="login">
            <form action="/login" method="POST">
                <h2>Let's Begin Shopping</h2>
                <input type="text" name="username" placeholder="Enter user Here">
                <input type="password" name="password" placeholder="Enter Password Here"><br>
                <button class="btn">Login</button>
                <p class="link">Don't have an account?<br>
            </form>
            <a href="/sign_up">Sign up Here</a></p>
        </div>
    </div>
</body>
</html>