<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/create_account" method="POST">
            <label>Username</label>
            <input type="text" name="username" placeholder="id...">
            <label>password</label>
            <input type="number" name= "password" placeholder="password...">
            <label>Phone_no</label>
            <input type="number" name= "phone_no" placeholder="phone_no...">
            <label>email_id</label>
            <input type="text" name="email_id" placeholder="email_id...">
            <label>address</label>
            <input type="text" name="address" placeholder="address...">
            <button type="submit">create_account</button>
        </form>
    </div>
    <br>
</body>
</html>