<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./static/signupstyle.css">
</head>
<body>
    <div class="main">
        <div class="su">
            <h2 >JOIN THE NEST</h2><br>
            <form action="/create_account" method="POST">
                <label>Username:</label><br>
                <input type="text" name="username" placeholder="Enter ID"><br><br>
                <label>Password:</label><br>
                <input type="number" name= "password" placeholder="Enter Password"><br><br>
                <label>Phone Number:</label><br>
                <input type="number" name= "phone_no" placeholder="Enter Mobile Number"><br><br>
                <label>Email:</label><br>
                <input type="text" name="email_id" placeholder="Enter Email ID"><br><br>
                <label>Address:</label><br>
                <input type="text" name="address" placeholder="Enter Address"><br><br>
                <button type="submit">Create Account</button>
            </form>
        </div>
    </div>
    <br>
</body>
</html>